# History files
.Rhistory

# Example code in package build process
*-Ex.R

# R data files from past sessions
.Rdata
.Rproj.user
.Rapp.history 
.Rhistory 

# Project Specific Data
data
UCI HAR Dataset
UCI HAR Dataset.zip
modules/
ProgrammingAssignment2
